
* {
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    background-color: #f1f1f1;
    display: flex;
    padding: 10px;
}


#menu {
    width: 90%;
}

#blog-title {
    font-weight: bold;
    margin-left: 10px;
    width: 15%;
    text-transform: uppercase;
}
h1{
    color: red;  
    background-color: black; 
    font-style: italic;
   }
   h3{
       color: blue;  
       background-color: white; 
       font-style: italic;
      }
   P{
       color: black;
       background-color: aqua;
   }
   
   body {
       font-size: 0.8em;
       color :navy;
   }
   
   div{
       color: red;  
       background-color: black; 
       font-style: italic;
   }
.relative {
    position: relative;
    width: 600px;
    height: 400px;
}
.absolute{
position: absolute;
top: 120px;
width: 300px;
height: 200px;
}